.paginated-table {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-settings-container {
    width: 97vw;
    padding: 0.5em 2em 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-settings-container label {
    padding: 0.5em;
}

select:hover {
    cursor: pointer;
}

.select-dropdown,
.select-dropdown * {
    margin: 0;
    padding: 0;
}

.select-container-table, .sort-container {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.search-label i {
    font-size: 1.1em;
}

.search-btn {
    background: none;
    border: none;
}

.search-btn i {
    font-size: 1.7em;
    transition: all 0.2s ease-in-out;
}

.search-btn i:hover {
    color: var(--primary-red);
    cursor: pointer;
    opacity: 0.9;
}

.select-dropdown {
    position: relative;
    background-color: #E6E6E6;
    border-radius: 4px;
    width: max-content;
    height: min-content;
}
.select-dropdown select {
    font-size: 1rem;
    font-weight: normal;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}
.select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.dropdowns label {
    font-weight: 400;
}

.search-container {
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 2em;
    padding: 0.01em 0.2em;
}

.search-container i {
    color: rgba(0, 0, 0, 0.8);
}

#search {
    width: 100%;
}

#search:focus { outline: none }

table {
    width: 97%;
    border-collapse: collapse;
}

table th {
    padding: 1em 0.7em 1em 0.7em;
    text-align: left;
    background-color: var(--primary-dark);
    color: white;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    word-break: break-word;
}

td {
    background-color: white;
}

.table-item-filename {
    font-family: 'Source Code Pro', monospace;
}

.pagination {
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination button {
    background-color: var(--primary-dark);
    color: var(--bg-white-shade);
    border: none;
    padding: 1em 1.5em;
    margin: 0.5em;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
}

.pagination button:hover {
    scale: 1.15;
}

.pagination button.active {
    border: 1px solid var(--primary-red);
    background-color: var(--primary-red);
    color: white;
}
















