.analysis-form-container {
    background-color: var(--bg-white-shade);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
}

.analysis-form-container h2 {
    margin: 1em 0 0 0;
}

form {
    color: var(--primary-dark);
    min-width: 55vw;
    height: max-content;
    margin: 0 1.5em 0 1.5em;
    display: flex;
    flex-direction: column;
    padding: 1em 0 1em 0;
}

label {
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.5em 0 0.5em 0;
}

input {
    height: 5vh;
    border: none;
    border-radius: 25px;
    padding: 0 1em 0 1em;
}

input:focus {
    outline: var(--primary-red) 2px solid;
}

input[type="date"] {
    cursor: pointer;
}

input[type="url"] {
    cursor: text;
}

input[type="radio"] {
    height: min-content;
    outline: none;
    accent-color: var(--primary-red);
}

.analysis-form-group {
    display: flex;
    flex-direction: column;
    padding: 0.25em 0 0.25em 0;
}

.analysis-form-radio-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 7vh
}

.analysis-form-submit-btn {
    color: white;
    background-color: var(--primary-dark);
    border: none;
    border-radius: 50px;
    min-width: 25vw;
    min-height: 5vh;
    font-size: 1em;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    align-self: center;
}

.analysis-form-submit-btn:hover {
    background-color: var(--primary-red);
}

.analysis-form-submit-btn i { margin: 0 0.25em 0; }

.compact {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: inherit;
}

.compact .analysis-form-group {
    width: 50%;
    margin-left: 1em;
}

.compact .analysis-form-radio-group {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 80vw;
}

.compact button {
    width: calc(100% + 1em);
    height: min-content;
    padding: 0.5em;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .analysis-form-container {
        width: 90vw;
        margin-bottom: 1em;
    }

    .analysis-form-container h2 {
        font-size: 1.3rem;
    }

    .analysis-form-radio-group {
        flex-direction: column;
        align-items: flex-start;
    }

    form {
        min-width: 80vw;
        margin: 0;
        padding-top: 0;
    }

    .analysis-form-submit-btn {
        min-width: 80vw;
    }
}