.tool-page-container {
    min-height: max-content;
    background-color: var(--bg-white-shade);
}

.tool-page-form-container {
    min-height: 50vh;
    background-color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tool-page-form-container .logo {
    height: 15vh;
    padding: 1em;
}

.tool-page-form-container h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}


.tool-page-form-container .wave {
    height: 25vh !important;
    width: 100vw;
    background-image: url("../../assets/svg/waves/wave-light-one.svg");
}

.tool-page-examples-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    background-color: var(--bg-white-shade);
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .tool-page-form-container .logo {
        display: none;
    }

    .tool-page-form-container h1 {
        font-size: 1.2rem;
        margin: 1em ;
    }

    .tool-page-examples-container p {
        text-align: center;
    }
}