.about-header {
    background-color: var(--primary-dark);
    padding-top: 2em;
}

.about-header h2, .about-content-light {
    color: white;
}
.about-container p {
    padding: 1em 2em;
    text-align: center;
}

.hotspot-about-container, .commit-about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotspot-about-container {
    background-color: var(--bg-white-shade);
}

.commit-about-container {
    background-color: var(--primary-dark);
}

.about-content-dark {
    color: var(--primary-dark);
    font-size: 1.1em;
}

.commit-about-container h2 {
    color: white;
}

