.hotspot-analysis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hotspot-analysis .hotspot-analysis-header {

}

.analysis-boxes-container {
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
