/* Import Font (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Define Color variables */
:root {
    --secondary-red: #DC3545;
    --bg-white-shade: #D9D9D9;
    --primary-dark: #2E2A2A;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}