.simple-info-box {
    background-color: var(--primary-red);
    width: 40vw;
    margin: 1em;
    border-radius: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.simple-info-box p {
    color: white;
    margin: 0;
    padding: 0 1em 1em 1em;
}

.simple-info-box h3 {
    color: white;
    margin: 0;
    padding: 1em 0.5em;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .simple-info-box {
        width: 80vw;
    }
}