.features-section-container {
    background-color: var(--bg-white-shade);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}