.loading-page, .loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-page {
    background-color: var(--primary-dark);
    height: 100vh;
    width: 100vw;
}

.loading-page-icon {
    width: 5em;
    height: 5em;
    animation: load-anim 1s linear infinite;
    transform-style: preserve-3d;
    object-fit: contain;
    padding-bottom: 1em;
    flex-grow: 2;
}

.loading-page h3, .loading-page p {
    color: white;
    font-weight: 400;
}

.loading-page p { opacity: 0.7; }

.loading-page p a {
    color: var(--secondary-red);
    transition: all 0.3s ease-in-out;
}

.loading-page p a:hover {
    color: var(--bg-white-shade);
}

@keyframes spinner {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
    }
}

@keyframes load-anim {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}