.analysis-info-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.analysis-info-box {
    color: white;
    width: 95vw;
    height: max-content;
    background-color: var(--secondary-red);
    padding: 1em;
    border-radius: 25px;
}

.analysis-info-box h3, .analysis-info-box a {
    color: white;
}

